[Unit]
Description=Traefik reverse proxy
After=podman.socket
Requires=podman.socket

[Container]
Image={{ podman_traefik.image }}
ContainerName=traefik
PublishPort=80:80
PublishPort=443:443
Volume=/run/podman/podman.sock:/var/run/docker.sock
{% for argument in podman_traefik.command %}
Exec={{ argument }}
{% endfor %}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
